@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-text: #111111;
}

@layer theme {
  .dark {
    --color-background: #0F172A;
    --color-text: #F8FAFC;
  }
}

@font-face {
  font-family: 'shoika';
  src: url('./Shoika/Shoika Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-myfont {
  font-family: 'shoika', sans-serif;
}

.textShine {
    background: linear-gradient(
        to right,
        #3EFC57 , 10%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%,
        #6F87F9
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/*
 * Style the scrollbar for Webkit browsers (Chrome, Safari, Edge)
 * by targeting our new custom class.
 */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Makes the scrollbar thin */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Makes the track transparent */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0a0f1c; /* Your desired color */
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none !important; /* Hide them */
  height: 0;     /* Force them to have no space */
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-button:start {
  display: none !important; /* Hide the top one */
}

.custom-scrollbar::-webkit-scrollbar-button:end {
  display: none !important; /* Hide the bottom one */
}
/*
 * Style the scrollbar for Firefox
 */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d8d8d9 transparent; /* thumb color | track color */
}